{% extends 'base.html' %}
{% load humanize %}

{% block content %}

  <!-- Showcase -->
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            No esperes a mañana,<br><strong>sé dueño de tu presente</strong>
          </h1>
          <p class="lead">Rellena los datos a continuación para saber hasta cuanto te podemos financiar la casa</p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">deposito</label>
                  <input type="number" name="deposito" class="form-control" placeholder="Depósito disponible (€)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="number" name="ingresos" class="form-control" placeholder="Ingreso bruto al año (€)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="ciudad" class="form-control">
                    <option selected="true" disabled="disabled">Ciudad</option>
                    <option value="BCN">Barcelona</option>
                    <option value="MD">Madrid</option>
                    <option value="BLB">Bilbao</option>
                    <option value="VAL">Valencia</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Calcula tu renta!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Showcase -->
  <section id="showcase2" style="background: #C0C0C0;">
    <div class="container text-center">
      <div>
        <div class="overlay p-5">
          <h3 class="">
            Para aquellas personas que pueden alquilar, pero quisieran  tener una vivienda propia, Own it les permite acceder a los beneficios de ser propietario con sólo un 5% de entrada.
          </h3>
          <p class="lead">En cualquier momento puedes hacer aportaciones e incrementar tu porcentaje de propiedad, rebajando así el alquiler de nuestra  parte. No te atamos si quieres irte, avísanos con 3 meses y nos  encargamos</p>

        </div>
      </div>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">¿Estás interesado?</h3>
      <form action="https://floreche.typeform.com/to/hX04X8">
        <button class="btn btn-primary btn-block mt-4" type="submit">Haz nuestra encuesta y nos pondremos en contacto contigo!</button>
      </form>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Compramos juntos</h3>
          <p>Nos respaldamos de nuestros inversores para pagar la parte proporcional de tu casa. Tu pones el depósito, nosotros nos encargamos del resto</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Tu eres el propietario</h3>
          <p>Cada mes irás pagando una parte de tu casa hasta completar el 100% de esta. En cualquier momento puedes hacer aportaciones e incrementar tu porcentaje de propiedad</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Sin ataduras</h3>
          <p>No te atamos si quieres irte, avísanos con 3 meses de antelación y nos encargamos. Tu decides cuando te vas.</p>
        </div>
      </div>
    </div>
  </section>


{% endblock %}