{% extends 'base.html' %}
{% load humanize %}
{% block content %}


  <section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">deposito</label>
                  <input type="number" name="deposito" class="form-control" placeholder="Depósito disponible (€)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">City</label>
                  <input type="number" name="ingresos" class="form-control" placeholder="Ingreso bruto al año (€)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">State</label>
                  <select name="ciudad" class="form-control">
                    <option selected="true" disabled="disabled">Ciudad</option>
                    <option value="BCN">Barcelona</option>
                    <option value="MD">Madrid</option>
                    <option value="BLB">Bilbao</option>
                    <option value="VAL">Valencia</option>
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Vuelve a calcular tu renta!</button>
            </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% if not missing %}
            <h1>El precio del piso al que puedes acceder es de {{value_home | intcomma}}€</h1>
        </ol>
      </nav>
    </div>
  </section>


{% endblock %}